addict==2.2.1
apparmor==2.12
appdirs==1.4.3
apturl==0.5.2
argon2-cffi==20.1.0
asn1crypto==0.24.0
async-generator==1.10
attrs==20.1.0
awscli==1.18.11
backcall==0.2.0
bcrypt==3.1.7
black==19.10b0
bleach==3.2.1
boto==2.49.0
boto3==1.14.48
botocore==1.17.48
Brlapi==0.6.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.1
colorama==0.4.3
command-not-found==0.3
configparser==4.0.2
coverage==5.0.4
crcmod==1.7
cryptography==3.0
cupshelpers==1.0
databricks-cli==0.9.1
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro-info===0.18ubuntu0.18.04.1
docker==4.2.1
docutils==0.15.2
entrypoints==0.3
fabric==2.5.0
filelock==3.0.12
findspark==1.4.2
flake8==3.7.7
fuzzyfinder==2.1.0
galternatives==0.92.2
gitdb==4.0.5
GitPython==3.1.3
google-api-python-client==1.7.11
google-auth==1.20.1
google-auth-httplib2==0.0.4
graphviz==0.13.2
httplib2==0.18.1
hvac==0.10.4
idna==2.10
importlib-metadata==1.7.0
importlib-resources==1.4.0
invoke==1.4.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
jsonnet==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
kafka-shell==0.1.4
kapitan==0.28.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
LibAppArmor==2.12
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
MouseInfo==0.1.3
mypy==0.770
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netifaces==0.10.4
notebook==6.1.5
numpy==1.19.4
oauth==1.0.1
olefile==0.45.1
oyaml==1.0
packaging==20.3
pandas==1.1.4
pandocfilters==1.4.3
paramiko==2.7.1
parso==0.7.1
pathspec==0.8.0
pendulum==2.1.0
pep517==0.8.2
pexpect==4.2.1
pickleshare==0.7.5
Pillow==7.1.1
pluggy==0.13.1
prettytable==0.7.2
prometheus-client==0.9.0
prompt-toolkit==3.0.6
protobuf==3.0.0
ptyprocess==0.6.0
py==1.8.1
py4j==0.10.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.50
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pydeps==1.9.0
pyflakes==2.1.1
PyGetWindow==0.0.8
Pygments==2.6.1
pygobject==3.26.1
pymacaroons==0.13.0
PyMsgBox==1.0.7
PyNaCl==1.3.0
pyparsing==2.4.7
pyperclip==1.8.0
PyRect==0.1.4
pyRFC3339==1.0
pyrsistent==0.16.0
PyScreeze==0.1.26
pyspark==2.4.3
pytest==5.4.1
pytest-cov==2.8.1
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.8.1
python-debian==0.1.32
python-gnupg==0.4.6
python3-xlib==0.15
PyTweening==1.0.3
pytz==2018.3
pytzdata==2019.3
pyxdg==0.25
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.2.20
reportlab==3.4.0
requests==2.23.0
requests-unixsocket==0.1.5
rfc3987==1.3.8
rsa==4.6
s3transfer==0.3.3
scour==0.36
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplejson==3.13.2
six==1.15.0
smmap==3.0.4
sqlparse==0.3.1
ssh-import-id==5.7
stdlib-list==0.6.0
system-service==0.3
systemd-python==234
tabulate==0.8.6
terminado==0.9.1
testpath==0.4.4
toml==0.10.1
tornado==6.1
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.25.10
usb-creator==0.3.3
virtualenv==20.0.14
wadllib==1.3.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
widgetsnbextension==3.5.1
xkit==0.0.0
yamllint==1.24.2
zipp==3.1.0
zope.interface==4.3.2
